html,
body,
#root {
  overflow: hidden;
}

.root-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10;
  padding: 8px;
}

.site-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.site-main {
  height: 100%;
  flex: 1;
}

.site-sidebar {
  height: 100%;
  min-width: 400px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .site-panel {
    display: none;
  }
  .site-panel.panel-visible:first-of-type {
    display: block;
    flex: 1;
  }
  .desktop-only {
    display: none;
  }
  .site-header {
    width: 390px;
    align-self: center;
  }
}

@media only screen and (min-width: 801px) {
  .mobile-only {
    display: none;
  }
}

.view-switcher {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
